<div class="rounded-xl shadow-xl">
    <img class="rounded-t-xl  w-full h-36 object-cover" src="https://source.unsplash.com/odxB5oIG_iA/400x250">
    <div class="flex flex-col p-7">
        <div class="flex flex-row">
            <div class=" text-xs uppercase bg-yellow-100 p-1 px-2 text-yellow-700 rounded-2xl">Freelancing</div>
        </div>
        <h2 class="text-xl font-bold truncate mt-1">The Road to Freedom</h2>
        <p class="text-base text-gray-600 mt-1">Freelancing can be a great way to experience true freedom in your life.
            You can work anywhere, everywhere... </p>
        <div class="flex flex-row mt-5 items-center justify-start">
            <img class="rounded-2xl mr-2" src="https://source.unsplash.com/7YVZYZeITc8/30x30">
            <p class="font-bold text-sm mr-2">John Smith</p>
            <p class="text-gray-400 text-sm">On August 9, 2021</p>
        </div>
    </div>
</div>